/* All your style files should contain this file import */
@import "theme";
@import "mixins";


/*Custom scrollbar starts here*/
.dw-custom-scrollbar {
  /*Allow smooth scrolling on iOS devices*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 1024px) {
  .dw-custom-scrollbar {
    overflow: auto;
  }
  /*Works on Mozilla*/
  .dw-custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.7) rgba(255,255,255,0.2);
  }
  .dw-custom-scrollbar:hover {
    scrollbar-color: rgba(255,255,255,1) rgba(255,255,255,0.2);
  }
  /*Works on Chrome, Safari, Opera and others with webkit kernel*/
  /* width */
  .dw-custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  .dw-custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
  }

  /* Handle */
  .dw-custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.7);
    border-radius: 8px;
  }
  /* Handle on hover */
  .dw-custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,1);
  }
}

/*Custom scrollbar ends here*/


.dw-text-10 {
  font-family: DW-JetBrainsMono-Light;
  font-size: var(--10px);
  line-height: var(--15px);
}

.dw-text-10-bold {
  font-family: DW-JetBrainsMono-Bold;
  font-size: var(--10px);
  line-height: var(--15px);
}

.dw-text-12 {
  font-family: DW-JetBrainsMono-Light;
  font-size: var(--12px);
  line-height: var(--16px);
}

.dw-text-12-bold {
  font-family: DW-JetBrainsMono-Bold;
  font-size: var(--12px);
  line-height: var(--16px);
}

.dw-text-14 {
  font-family: DW-JetBrainsMono-Light;
  font-size: var(--14px);
  line-height: var(--22px);
}

.dw-text-14-bold {
  font-family: DW-JetBrainsMono-Bold;
  font-size: var(--14px);
  line-height: var(--22px);
}

.dw-text-18-bold {
  font-family: DW-JetBrainsMono-Bold;
  font-size: var(--18px);
  line-height: var(--24px);
}

.dw-text-24-bold {
  font-family: DW-JetBrainsMono-Bold;
  font-size: var(--24px);
  line-height: var(--32px);
}

.clickable {
  user-select: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
