@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: JetBrainsMono-Light;
  src: url("../fonts/JetBrainsMono-Light.woff2");
}

@font-face {
  font-family: JetBrainsMono-Bold;
  src: url("../fonts/JetBrainsMono-Bold.woff2");
}

html {
  @apply bg-black;
}
/*Custom scrollbar starts here*/
@media (min-width: 1024px) {
  /*Works on Mozilla*/
  body {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.7) rgba(255,255,255,0.2);
  }
  /*Works on Chrome, Safari, Opera and others with webkit kernel*/
  /* width */
  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  body::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
  }

  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.7);
    border-radius: 8px;
  }
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,1);
  }
}

* {
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}

/* removes the blue background when tapping links on iOS devices  */
a {
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}

@layer components {
  .text-10 {
    @apply font-[JetBrainsMono-Light] text-[0.625rem] leading-[0.9375rem] box-border;
  }

  .text-12 {
    @apply font-[JetBrainsMono-Light] text-[0.75rem] leading-[1rem] box-border;
  }

  .text-12-bold {
    @apply font-[JetBrainsMono-Bold] text-[0.75rem] leading-[1rem] box-border;
  }

  .text-14 {
    @apply font-[JetBrainsMono-Light] text-[0.875rem] leading-[1.375rem] box-border;
  }

  .text-14-bold {
    @apply font-[JetBrainsMono-Bold] text-[0.875rem] leading-[1.5rem] box-border;
  }

  .text-18-bold {
    @apply font-[JetBrainsMono-Bold] text-[1.125rem] leading-[1.5rem] box-border;
  }

  .text-24-bold {
    @apply font-[JetBrainsMono-Bold] text-[1.5rem] leading-[1.975rem] box-border;
  }

  .page-title {
    @apply font-[JetBrainsMono-Bold] text-[1.125rem] leading-[1.5rem] lg:text-[1.5rem] lg:leading-[1.975rem] box-border;
  }

  .divider {
    @apply border-divider box-border;
  }

  .clickable {
    @apply hover:opacity-80 active:opacity-50 select-none cursor-pointer box-border;
  }

  .card {
    @apply bg-blackSecondary p-[20px] box-border;
  }

  body {
    @apply font-[JetBrainsMono-Light] text-[0.875rem] leading-[1.375rem] leading-[1.5rem] text-white;
  }

  .app-container {
    @apply max-w-[1200px] box-border;
  }
  .wrapper-padding {
    @apply px-[15px] lg:px-[30px] box-border;
  }
}

/* Navigation highlight */
.active {
  background-color: #ff0083;

  .parent-menu,
  .child-menu {
    font-family: JetBrainsMono-Bold, serif !important;
  }
}

.tab-content-enter {
  opacity: 0;
}
.tab-content-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.tab-content-enter-done {
  opacity: 1;
}

.flex-ellipsis {
  min-width: 0;
  * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
